@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.h1-title {
}
.h2-title {
  font-size: 24px;
  color: #fff;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: 700;
}
