@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.body-text {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.body-text_size_s {
  font-size: 13px;
}

.body-text_size_m {
  font-size: 15px;
}

.body-text_size_xl {
  font-size: 20px;
}

.body-text_weigth_regular {
  font-weight: 400;
}

.body-text_weigth_medium {
  font-weight: 500;
}

.body-text_weigth_bold {
  font-weight: 700;
}

.body-text__link:hover {
  text-decoration: underline;
}

.body-text_color_white {
  color: #fff;
}

.body-text_color_black {
  color: #000;
}

.body-text_color_blue {
  color: #3464eb;
}
